{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
    <h1>Stock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Branch</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.sku }}</td>
                <td>{{ stock.branch }}</td>
                <td>{{ stock.stock }}</td>
                <td>
                    <a href="{{ path('stock_show', {'sku': stock.sku}) }}">show</a>
                    <a href="{{ path('stock_edit', {'sku': stock.sku}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stock_new') }}">Create new</a>
{% endblock %}
